<a href="https://colab.research.google.com/github/WhiteHum/financeData_learning/blob/main/2_1_FinanceDataReader%EB%A5%BC_%ED%86%B5%ED%95%9C_%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9_%EC%A0%84%EC%B2%B4_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/corazzon/finance-data-analysis/blob/main/2.1%20FinanceDataReader%EB%A5%BC%20%ED%86%B5%ED%95%9C%20%EC%83%81%EC%9E%A5%EC%A2%85%EB%AA%A9%20%EC%A0%84%EC%B2%B4%20%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0-input.ipynb)



## FinanceDataReader 란?

* 한국 주식 가격, 미국주식 가격, 지수, 환율, 암호화폐 가격, 종목 리스팅 등 금융 데이터 수집 라이브러리

* [FinanceData/FinanceDataReader: Financial data reader](https://github.com/FinanceData/FinanceDataReader)
* [FinanceDataReader 사용자 안내서 | FinanceData](https://financedata.github.io/posts/finance-data-reader-users-guide.html)
* https://pandas-datareader.readthedocs.io/en/latest/readers/index.html

## 설치

In [1]:
# 주석을 풀고 설치해 주세요. 주석을 푸는 방법은 아래 코드의 맨 앞에 있는 #을 지워주시면 됩니다.
!pip install -U finance-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting finance-datareader
  Downloading finance_datareader-0.9.50-py3-none-any.whl (19 kB)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.9.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (1.3.5)
Collecting requests-file
  Downloading requests_file-1.5.1-py2.py3-none-any.whl (3.7 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from finance-datareader) (4.64.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.19.2->finance-datareader) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.3.0->finance-datareader) (2.10)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.50 requests-file-1.5.1

## 라이브러리 불러오기

In [2]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [3]:
# FinanceDataReader 를 fdr 별칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다. 
import FinanceDataReader as fdr
fdr.__version__

'0.9.50'

## 한국거래소 상장종목 전체 가져오기

In [4]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.

# fdr.StockListing??

fdr.StockListing("KRX")

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,59500,1,200,0.34,58300,59500,58300,12948846,764825667131,355202061725000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,485500,2,-500,-0.10,476500,489500,476500,310617,150434941500,113607000000000,234000000,STK
2,207940,KR7207940008,삼성바이오로직스,KOSPI,,835000,1,12000,1.46,813000,837000,811000,41042,34050452000,59430290000000,71174000,STK
3,000660,KR7000660001,SK하이닉스,KOSPI,,78400,2,-1800,-2.24,77700,79400,77500,3765130,295568401099,57075385416000,728002365,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,667000,1,2000,0.30,654000,667000,648000,265308,174842693000,45865941510000,68764530,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2678,215050,KR7215050006,비엔디생활건강,KONEX,일반기업부,912,0,0,0.00,0,0,0,0,0,1934959392,2121666,KNX
2679,288490,KR7288490006,나라소프트,KONEX,일반기업부,49,3,0,0.00,49,49,45,37495,1730920,1869203000,38147000,KNX
2680,322190,KR7322190000,베른,KONEX,일반기업부,207,5,-36,-14.81,207,207,207,23268,4816476,1847515779,8925197,KNX
2681,267060,KR7267060002,명진홀딩스,KONEX,일반기업부,181,0,0,0.00,0,0,0,0,0,1654666524,9141804,KNX
2682,329020,KR7329020002,오션스톤,KONEX,일반기업부,140,2,-1660,-92.22,209,209,66,130790,14410785,116921280,835152,KNX

In [7]:
# KRX : KRX 종목 전체
# KOSPI : KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S&P500 종목
df_krx = fdr.StockListing("KRX")

In [8]:
# 한국거래소 상장종목 전체 가져오기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,59500,1,200,0.34,58300,59500,58300,12953991,765131794631,355202061725000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,485500,2,-500,-0.10,476500,489500,476500,310663,150457274500,113607000000000,234000000,STK
2,207940,KR7207940008,삼성바이오로직스,KOSPI,,835000,1,12000,1.46,813000,837000,811000,41042,34050452000,59430290000000,71174000,STK
3,000660,KR7000660001,SK하이닉스,KOSPI,,78400,2,-1800,-2.24,77700,79400,77500,3765254,295578122699,57075385416000,728002365,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,667000,1,2000,0.30,654000,667000,648000,265348,174869373000,45865941510000,68764530,STK

In [9]:
# 행과 열의 크기를 봅니다.(행, 열) 순
df_krx.shape

(2683, 17)

In [10]:
# 전체 데이터프레임의 요약정보를 봅니다.
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2683 entries, 0 to 2682
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2683 non-null   object
 1   ISU_CD       2683 non-null   object
 2   Name         2683 non-null   object
 3   Market       2683 non-null   object
 4   Dept         2683 non-null   object
 5   Close        2683 non-null   object
 6   ChangeCode   2683 non-null   object
 7   Changes      2683 non-null   int64
 8   ChagesRatio  2683 non-null   float64
 9   Open         2683 non-null   int64
 10  High         2683 non-null   int64
 11  Low          2683 non-null   int64
 12  Volume       2683 non-null   int64
 13  Amount       2683 non-null   int64
 14  Marcap       2683 non-null   int64
 15  Stocks       2683 non-null   int64
 16  MarketId     2683 non-null   object
dtypes: float64(1), int64(8), object(8)
memory usage: 356.5+ KB

In [11]:
# 기술통계 값을 요약합니다.
df_krx.describe()

,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks
count,2683.000000,2683.000000,2683.000000,2683.000000,2683.000000,2.683000e+03,2.683000e+03,2.683000e+03,2.683000e+03
mean,-77.439061,-0.573612,19989.901603,20410.245621,19780.997764,4.783853e+05,4.393176e+09,8.209527e+11,4.215360e+07
std,865.364050,3.479931,52391.955018,53362.283377,51997.396157,1.925564e+06,2.079699e+10,7.775032e+12,1.374113e+08
min,-13000.000000,-92.220000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,1.169213e+08,1.098520e+05
25%,-135.000000,-1.745000,2655.000000,2705.000000,2612.500000,1.651900e+04,9.598771e+07,5.905452e+10,9.906766e+06
50%,-30.000000,-0.660000,6480.000000,6630.000000,6370.000000,6.475500e+04,4.055259e+08,1.171155e+11,1.942699e+07
75%,5.000000,0.180000,15725.000000,16075.000000,15500.000000,2.209415e+05,1.788418e+09,2.816717e+11,3.996996e+07
max,12000.000000,29.830000,813000.000000,837000.000000,811000.000000,2.846156e+07,7.651318e+11,3.552021e+14,5.969783e+09

## 파일로 저장하고 불러오기
<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [12]:
# head 로 미리보기
df_krx.head()

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,59500,1,200,0.34,58300,59500,58300,12953991,765131794631,355202061725000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,485500,2,-500,-0.10,476500,489500,476500,310663,150457274500,113607000000000,234000000,STK
2,207940,KR7207940008,삼성바이오로직스,KOSPI,,835000,1,12000,1.46,813000,837000,811000,41042,34050452000,59430290000000,71174000,STK
3,000660,KR7000660001,SK하이닉스,KOSPI,,78400,2,-1800,-2.24,77700,79400,77500,3765254,295578122699,57075385416000,728002365,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,667000,1,2000,0.30,654000,667000,648000,265348,174869373000,45865941510000,68764530,STK

In [16]:
# to_csv로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df_krx.to_csv("krx.csv", index=False)

In [17]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,NaN,59500,1,200,0.34,58300,59500,58300,12953991,765131794631,355202061725000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,NaN,485500,2,-500,-0.10,476500,489500,476500,310663,150457274500,113607000000000,234000000,STK
2,207940,KR7207940008,삼성바이오로직스,KOSPI,NaN,835000,1,12000,1.46,813000,837000,811000,41042,34050452000,59430290000000,71174000,STK
3,000660,KR7000660001,SK하이닉스,KOSPI,NaN,78400,2,-1800,-2.24,77700,79400,77500,3765254,295578122699,57075385416000,728002365,STK
4,006400,KR7006400006,삼성SDI,KOSPI,NaN,667000,1,2000,0.30,654000,667000,648000,265348,174869373000,45865941510000,68764530,STK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2678,215050,KR7215050006,비엔디생활건강,KONEX,일반기업부,912,0,0,0.00,0,0,0,0,0,1934959392,2121666,KNX
2679,288490,KR7288490006,나라소프트,KONEX,일반기업부,49,3,0,0.00,49,49,45,37495,1730920,1869203000,38147000,KNX
2680,322190,KR7322190000,베른,KONEX,일반기업부,207,5,-36,-14.81,207,207,207,23268,4816476,1847515779,8925197,KNX
2681,267060,KR7267060002,명진홀딩스,KONEX,일반기업부,181,0,0,0.00,0,0,0,0,0,1654666524,9141804,KNX
2682,329020,KR7329020002,오션스톤,KONEX,일반기업부,140,2,-1660,-92.22,209,209,66,130790,14410785,116921280,835152,KNX